// Typography
$font-family-main: 'Roboto', Helvetica, Arial, sans-serif;
$font-family-headings: 'Roboto', Helvetica, Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #fff;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #727272;
$link-color: #607D8B;
$selection-color: #455A64; // visible when highlighting text

// Header colours
$header-link-color: #383838;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #455A64;
$header-desc-text-color: #FFF;
